<div id="letteredit">
  <script>
    $(function() {
        $('#liveeditor').keyup(function() {
          //$('#livepreview').html(this.value.replace(/\n/g, '<br/>'));
          $('#livepreview').html($('#liveeditor').val());
        });
    });
  </script>
    <div class="ui mini steps">
      <div class="step">
        <i class="edit outline icon"></i>
        <div class="content">
          <div class="title">1.手紙を書く</div>
          <div class="description">テキスト入力欄にて<br>手紙を書いてください</div>
        </div>
      </div>
      <div class="step">
        <i class="envelope open outline icon"></i>
        <div class="content">
          <div class="title">2.送るボタンを押す</div>
          <div class="description">「送る」ボタンを押すと登録完了します</div>
        </div>
      </div>
      <div class="step">
        <i class="download icon"></i>
        <div class="content">
          <div class="title">3.メールアドレスに完成した画像が届く</div>
          <div class="description">登録した内容を元に手紙が作成され、<br>登録したメールアドレスに画像が届きます</div>
        </div>
      </div>
      <div class="step">
        <i class="upload icon"></i>
        <div class="content">
          <div class="title">4.画像がOKなら、送付されます</div>
          <div class="description">送付した手紙が問題なければ、<br>その内容でホロライブへ送付されます</div>
        </div>
      </div>
    </div>
    <div class="ui steps">
    <div class="step">
      <div class="title">STEP1 手紙を書く</div>
      <div class="description">テキスト入力欄にて手紙を書いてください</div>
    </div>
    </div>
    <br>
    <h2 class="ui header">
      <i class="eye icon"></i>
      <div class="content">
        完成図イメージ
      </div>
    </h2>
    <%= image_tag 'letterbackground.001.jpg', id: :livepreview %>
    <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      下記事項に該当する記載があった場合は削除させていただきます
    </div>
    <ul class="list">
      <li>住所や本名など個人情報</li>
      <li>Amazonギフト券などの金品のコード</li>
      <li>特定の人物、組織に対する誹謗中傷</li>
      <li>政治、宗教に関する事項</li>
    </ul>
    </div>
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        文字数の制限について
      </div>
      <p>改行なしで、ひらがな・漢字で約630文字入力可能です。</p>
      <p>絵文字も使用できます。</p>
    </div>
    <div id="letter">
    <div class="ui form">
    <div class="field">
      <%= form_with(model: @letter, local: true) do |form| %>
        <%= form.text_area :text, placeholder: "ここに本文を記入", rows: "10",class: :form_text,id: :liveeditor %>
    </div>
    </div>
        <div class="ui steps">
          <div class="step">
            <div class="title">STEP2 送るボタンを押す</div>
            <div class="description">「送る」ボタンを押すと送信完了！</div>
          </div>
        </div>
        <div class="ui warning message">
          <div class="header">
          「送る」ボタンを押す前に確認してください
          </div>
          <ul class="list">
            <li>手紙の内容に個人情報や金券の情報、誹謗中傷などの記載はないですか？</li>
            <li>翻訳を希望される場合はその旨を本文に記述をお願いします</li>
            <li>If you would like a translation, please state so in the text.</li>
          </ul>
        </div>
        <%= form.submit "送る",class:"massive ui secondary button" %>
        <% end %>
        <br>
        <div class="ui steps">
        <div class="step">
          <div class="title">STEP3 メールアドレスに完成した画像が届く</div>
          <div class="description">登録した内容を元に手紙が作成され、登録したメールアドレスに画像が届きます</div>
        </div>
        </div>
        <div class="ui steps">
        <div class="step">
          <div class="title">STEP4 画像がOKなら、送付されます</div>
          <div class="description">送付した手紙が問題なければ、その内容でホロライブへ送付されます</div>
        </div>
        </div>
        <br>
    </div>
</div>