<div id="letteredit">
  <script>
    $(function() {
        $('#liveeditor').keyup(function() {
          //$('#livepreview').html(this.value.replace(/\n/g, '<br/>'));
          $('#livepreview').html($('#liveeditor').val());
        });
    });
  </script>
    <div class="ui mini steps">
      <div class="step">
        <i class="edit outline icon"></i>
        <div class="content">
          <div class="title">1.手紙を書く</div>
          <div class="description">テキスト入力欄にて<br>手紙を書いてください</div>
        </div>
      </div>
      <div class="step">
        <i class="download icon"></i>
        <div class="content">
          <div class="title">2.作成した手紙をダウンロードする</div>
          <div class="description">作成した手紙をダウンロードボタンから<br>ダウンロードしてください</div>
        </div>
      </div>
      <div class="step">
        <i class="upload icon"></i>
        <div class="content">
          <div class="title">3.ダウンロードした画像をアップロードする</div>
          <div class="description">ダウンロードした画像を<br>そのままアップロードしてください</div>
        </div>
      </div>
      <div class="step">
        <i class="envelope open outline icon"></i>
        <div class="content">
          <div class="title">4.送るボタンを押す</div>
          <div class="description">「送る」ボタンを押すと送信完了！</div>
        </div>
      </div>
    </div>
    <div class="ui steps">
    <div class="step">
      <div class="title">STEP1 手紙を書く</div>
      <div class="description">テキスト入力欄にて手紙を書いてください</div>
    </div>
    </div>
    <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      下記事項に該当する記載があった場合は削除させていただきます
    </div>
    <ul class="list">
      <li>住所や本名など個人情報</li>
      <li>Amazonギフト券などの金品のコード</li>
      <li>特定の人物、組織に対する誹謗中傷</li>
      <li>政治、宗教に関する事項</li>
    </ul>
    </div>
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        文字数の制限について
      </div>
      <p>改行なしで、ひらがな・漢字で約630文字入力可能です。</p>
      <p>絵文字も使用できます。</p>
    </div>
    <div id="letter">
    <div class="ui form">
    <div class="field">
      <%= form_with(model: @letter, local: true) do |form| %>
        <%= form.text_area :text, placeholder: "ここに本文を記入", rows: "10",class: :form_text,id: :liveeditor %>
    </div>
    </div>
        <h2 class="ui header">
        <i class="camera icon"></i>
        <div class="content">
          プレビュー
        </div>
        </h2>
        <style type="text/css">
          #livepreview{
            font-family:"huifont";
          }
        </style>
        <div id="livepreview">
        </div>
        <div class="ui steps">
          <div class="step">
            <div class="title">STEP2 作成した手紙をダウンロードする</div>
            <div class="description">作成した手紙をダウンロードボタンからダウンロードしてください</div>
          </div>
        </div>
        <br>
        <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
        <input id="download-btn" type="button" value="download image">
        <script>
          var btn = document.getElementById("download-btn");
          btn.addEventListener("click",() => {
              html2canvas(document.querySelector("#livepreview")).then(canvas => { 
                let downloadEle = document.createElement("a");
                downloadEle.href = canvas.toDataURL("image/png");
                downloadEle.download = "letter.png";
                downloadEle.click();
            });
          })
        </script>
        <br>
        <div class="ui steps">
        <div class="step">
          <div class="title">STEP3 ダウンロードした画像をアップロードする</div>
          <div class="description">ダウンロードした画像をそのままアップロードしてください</div>
        </div>
        </div>
          <div class="ui placeholder segment">
            <div class="ui icon header">
              <i class="file image outline icon"></i>
              クリックしてファイルをアップロード
            </div>
            <label class="ui primary button">
              <%= form.file_field :image,style: "display:none;"%>
              ファイルを選択
            </label>
          </div>
          <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">
              注意事項
            </div>
            <ul class="list">
              <li>ダウンロードした画像はそのままアップロードしてください</li>
              <li>ファイル名の変更やサイズの変更を行うと手紙が正常に読み込まれない可能性があります</li>
            </ul>
          </div>
        <div class="ui steps">
        <div class="step">
          <div class="title">STEP4 送るボタンを押す</div>
          <div class="description">「送る」ボタンを押すと送信完了！</div>
        </div>
        </div>
        <div class="ui warning message">
          <div class="header">
          「送る」ボタンを押す前に確認してください
          </div>
          <ul class="list">
            <li>手紙の内容に個人情報や金券の情報、誹謗中傷の記載はないですか？</li>
            <li>アップロードした画像のファイル名はダウンロードした時のままですか？</li>
          </ul>
        </div>
        <br>
        <%= form.submit "送る",class:"massive ui secondary button" %>
      <% end %>
    </div>
</div>